<if condition="(config('paginate.show') && $total_counts gt 0) || $page">
    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="row">
            <if condition="config('paginate.show') && $total_counts gt 0">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                        展示第 {$show_start} - {$show_end} 条数据 | 共 {$total_counts} 条
                    </div>
                </div>
            </if>
            <if condition="$page">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers">
                        {:htmlspecialchars_decode($page)}
                    </div>
                </div>
            </if>
        </div>
    </div>
</if>