<div class="dataTables_wrapper container-fluid dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">
                Showing 1 to 10 of 57 entries
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled">
                        <a href="#" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active">
                        <a href="#" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">3</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">4</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">5</a>
                    </li>
                    <li class="paginate_button page-item ">
                        <a href="#" class="page-link">6</a>
                    </li>
                    <li class="paginate_button page-item next">
                        <a href="#" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>