<li class="mega-menu mega-menu-sm">
    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
    </a>
    <ul aria-expanded="false">
        <li><a href="{:url('index')}">Home 1</a></li>
        <!-- <li><a href="./index-2.html">Home 2</a></li> -->
    </ul>
</li>
<li class="mega-menu mega-menu-sm">
    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
    </a>
    <ul aria-expanded="false">
        <li><a href="{:url('/admin/user/index')}">Home 1</a></li>
        <!-- <li><a href="./index-2.html">Home 2</a></li> -->
    </ul>
</li>
<li class="mega-menu mega-menu-sm">
    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Layouts</span>
    </a>
    <ul aria-expanded="false">
        <li><a href="./layout-blank.html">Blank</a></li>
        <li><a href="./layout-one-column.html">One Column</a></li>
        <li><a href="./layout-two-column.html">Two column</a></li>
    </ul>
</li>
<li class="mega-menu mega-menu-sm">
    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Layouts</span>
    </a>
    <ul aria-expanded="false">
        <li><a href="./layout-blank.html">Blank</a></li>
        <li><a href="./layout-one-column.html">One Column</a></li>
        <li><a href="./layout-two-column.html">Two column</a></li>
    </ul>
</li>
<li class="mega-menu mega-menu-sm">
    <a href="widgets.html" aria-expanded="false">
        <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
    </a>
</li>
<li class="mega-menu mega-menu-sm active">
    <a href="widgets.html" class="active" aria-expanded="false">
        <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
    </a>
</li>
<li class="mega-menu mega-menu-sm">
    <a href="widgets.html" aria-expanded="false">
        <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
    </a>
</li>
<if condition="($is_demo ?? false) eq true">
    <!-- UI样式Demo加载 -->
    <include file="public:ui_element_menu" />
</if>