<div class="dataTables_length col-sm-12 ">
    <form class="js_page_length" action="{:url('')}">
        <label>
            每页显示
            <select name="list_limit" class="form-control form-control-sm ">
                <foreach name="page_length" item="limit">
                    <if condition="$limit eq $limited">
                        <option value="{$limit}" selected="selected">{$limit}</option>
                        <else />
                        <option value="{$limit}">{$limit}</option>
                    </if>
                </foreach>
            </select>
            条数据
        </label>
    </form>
</div>