<extend name="public:main" />
<block name="style">
</block>
<block name="crumb">
    <include file="public:crumb_nav" />
</block>
<block name="body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Data Table</h4>
                        <div class="col-sm-12">
                            <form class="form-inline" action="{:url('index',($params ?? []))}" method="GET">
                                asd:
                                &nbsp;<input class="form-control" type="" name="">&nbsp;&nbsp;&nbsp;&nbsp;
                                asdde:
                                &nbsp;<input class="form-control" type="" name="">&nbsp;&nbsp;&nbsp;&nbsp;
                                eed:
                                &nbsp;<input class="form-control" type="" name="">&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="btn btn-primary" type="button" value="搜索">&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-dark" href="{:url('')}">重置</a>
                            </form>
                        </div>
                        <include file="public:table_length" />
                        <div class="general-button text-right">
                            <!-- 
                            <button type="button" class="btn mb-1 btn-xs btn-primary">Primary</button>
                            <button type="button" class="btn mb-1 btn-xs btn-secondary">Secondary</button>
                            <button type="button" class="btn mb-1 btn-xs btn-success">Success</button>
                            <button type="button" class="btn mb-1 btn-xs btn-danger">Danger</button>
                            <button type="button" class="btn mb-1 btn-xs btn-warning">Warning</button>
                            <button type="button" class="btn mb-1 btn-xs btn-info">Info</button>
                            <button type="button" class="btn mb-1 btn-xs btn-light">Light</button>
                            <button type="button" class="btn mb-1 btn-xs btn-dark">Dark</button> 
                        	-->
                        </div>
                        <div class="clearfix"></div>
                        <div class="table-responsive">
                            <table class="table table-striped js_checked_table">
                                <thead>
                                    <tr>
                                        <th width="40"><input type="checkbox" class="js_checked_all" name=""></th>
                                        <th width="40">#</th>
                                        <th width="180">菜单名称</th>
                                        <th width="220">链接</th>
                                        <th width="180">所属</th>
                                        <th width="180">更新时间</th>
                                        <th width="80">显示</th>
                                        <th width="80">状态</th>
                                        <th width="180">添加时间</th>
                                        <th width="">操作</th>
                                        <!-- <th>操作</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <php> $i=1;</php>
                                    <foreach name="list ?? []" item="row" key="k">
                                        <tr>
                                            <th><input type="checkbox" class="js_checked_item" name="ids[]" value="{$row.id}"></th>
                                            <th>{$k+1}</th>
                                            <td>{$row.name}</td>
                                            <td>
                                                {$row.url}
                                            </td>
                                            <td>
                                                <span class="label gradient-{$i} btn-rounded">70%</span>
                                            </td>
                                            <td>{$row.update_time_text}</td>
                                            <td>
                                                <switch $row.is_display>
                                                    <case 1>
                                                        <span class="badge badge-xs badge-success px-2">{:$row.is_display_text}</span>
                                                    </case>
                                                    <case 0>
                                                        <span class="badge badge-xs badge-warning px-2">{:$row.is_display_text}</span>
                                                    </case>
                                                </switch>
                                            </td>
                                            <td>
                                                <switch $row.is_disable>
                                                    <case 0>
                                                        <span class="badge badge-xs badge-info px-2">{:$row.is_disable_text}</span>
                                                    </case>
                                                    <case 1>
                                                        <span class="badge badge-xs badge-dark px-2">{:$row.is_disable_text}</span>
                                                    </case>
                                                </switch>
                                            </td>
                                            <td>{$row.create_time_text}</td>
                                            <td>
                                                <a href="{:url('edit',['id'=>$row.id])}" class="badge badge-xs badge-primary">编辑</a>
                                                <!--
                                                <a href="" class="badge badge-xs badge-primary js_ajax_get">查看1</a>
                                                <a href="" class="badge badge-xs badge-dark">查看2</a>
                                                <a href="" class="badge badge-xs badge-secondary">查看3</a>
                                                <a href="" class="badge badge-xs badge-warning">查看4</a>
                                                <a href="" class="badge badge-xs badge-light">查看5</a>
                                                <a href="" class="badge badge-xs badge-info">编辑</a>
                                                <a href="" class="badge badge-xs badge-danger">删除</a>
                                            -->
                                            </td>
                                            <!-- <td>
                                                <span>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="fa fa-pencil color-muted m-r-5"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Close">
                                                        <i class="fa fa-close color-danger"></i>
                                                    </a>
                                                </span>
                                            </td> -->
                                        </tr>
                                        <php>$i++;if($i>=9) $i=1;</php>
                                    </foreach>
                                </tbody>
                            </table>
                            <include file="public:page_flip_button" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</block>
<block name="script">
</block>