<extend name="public:main" />
<block name="style">
</block>
<block name="body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="{:url('')}" autocomplete="off" method="post">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="pid">
                                        <span class="text-danger">*</span>
                                        上级菜单
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="pid" name="pid">
                                            <option value="">顶级菜单</option>
                                            <option value="html">HTML</option>
                                        </select>
                                        <span class="help-block">选择上级菜单</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="name">
                                        <span class="text-danger">*</span>
                                        菜单名称
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="请输入菜单名称">
                                        <span class="help-block">请填写菜单名称</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="sort">
                                        <span class="text-danger">*</span>
                                        排序
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" style="width: 40%;" id="sort" name="sort" placeholder="请输入排序">
                                        <span class="help-block">请填写顺序，范围1-9999</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="icon">
                                        <span class="text-danger">*</span>
                                        图标
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" style="width: 40%;" id="icon" name="icon" placeholder="请输入图标">
                                        <span class="help-block">请 <a class="btn-link" href=""> 选择图标 </a> 样式名称 </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="is_display">
                                        <span class="text-danger">*</span>
                                        是否展示
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="top_10 single_line">
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="is_display" value="1"> 是
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="is_display" value="0"> 否
                                            </label>
                                        </div>
                                        <span class="help-block">请选择是否展示</span>
                                    </div>
                                </div>
                                <!-- demo -->
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-email">
                                        Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Your valid email..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-password">
                                        Password
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Choose a safe one..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-confirm-password">
                                        Confirm Password
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="..and confirm it!">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-suggestions">
                                        Suggestions
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="5" placeholder="What would you like to see?"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-skill">
                                        Best Skill
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="val-skill" name="val-skill">
                                            <option value="">Please select</option>
                                            <option value="html">HTML</option>
                                            <option value="css">CSS</option>
                                            <option value="javascript">JavaScript</option>
                                            <option value="angular">Angular</option>
                                            <option value="angular">React</option>
                                            <option value="vuejs">Vue.js</option>
                                            <option value="ruby">Ruby</option>
                                            <option value="php">PHP</option>
                                            <option value="asp">ASP.NET</option>
                                            <option value="python">Python</option>
                                            <option value="mysql">MySQL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-currency">
                                        Currency
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-currency" name="val-currency" placeholder="$21.60">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-website">
                                        Website
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-website" name="val-website" placeholder="http://example.com">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-phoneus">
                                        Phone (US)
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-phoneus" name="val-phoneus" placeholder="212-999-0000">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-digits">
                                        Digits
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-digits" name="val-digits" placeholder="5">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-number">
                                        Number
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-number" name="val-number" placeholder="5.0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label" for="val-range">
                                        Range [1, 5]
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-range" name="val-range" placeholder="4">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label">
                                        <a href="#">Terms &amp; Conditions</a>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-8">
                                        <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                            <input type="checkbox" class="css-control-input" id="val-terms" name="val-terms" value="1">
                                            <span class="css-control-indicator"></span>
                                            I agree to the terms
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check mb-3">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Option 1
                                        </label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Option 2
                                        </label>
                                    </div>
                                    <div class="form-check disabled">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="" disabled="disabled">Disabled
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Option 1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Option 2</label>
                                    </div>
                                    <div class="form-check form-check-inline disabled">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="" disabled="disabled">Disabled</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline mr-3">
                                        <input type="radio" name="optradio"> Option 1
                                    </label>
                                    <label class="radio-inline mr-3">
                                        <input type="radio" name="optradio"> Option 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio"> Option 3
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__PLUGIN__/validation/jquery.validate.min.js"></script>
    <script src="__PLUGIN__/validation/jquery.validate-init.js"></script>
</block>