<extend name="public:main" />
<block name="style">
</block>
<block name="body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="{:url('update')}" autocomplete="off" method="post">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="pid">
                                        <span class="text-danger">*</span>
                                        上级菜单
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="pid" name="pid">
                                            <option value="">顶级菜单</option>
                                            <option value="html">HTML</option>
                                        </select>
                                        <span class="help-block">选择上级菜单</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="menu_type">
                                        <span class="text-danger">*</span>
                                        菜单类型
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="menu_type" name="menu_type">
                                            <option value="">选择菜单类型</option>
                                            <option value="1">作为菜单</option>
                                            <option value="2">操作按钮</option>
                                        </select>
                                        <span class="help-block">选择菜单类型</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="display_position">
                                        <span class="text-danger">*</span>
                                        按钮展示方式
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="display_position" name="display_position">
                                            <option value="">选择按钮展示方式</option>
                                            <option value="html">表头展示</option>
                                            <option value="html">每行展示</option>
                                            <option value="html">表头和每行都展示</option>
                                            <option value="html">不展示展示</option>
                                        </select>
                                        <span class="help-block">选择菜单类型</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="request_type">
                                        <span class="text-danger">*</span>
                                        请求方式
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="top_10 single_line">
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="request_type" value="1"> 直接跳转
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="request_type" value="2"> 无刷新POST
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="request_type" value="3"> 无刷新GET
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="request_type" value="4"> 打开新标签
                                            </label>
                                        </div>
                                        <span class="help-block">请选择请求方式</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="name">
                                        <span class="text-danger">*</span>
                                        菜单名称
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="请输入菜单名称">
                                        <span class="help-block">请填写菜单名称</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="app">
                                        <span class="text-danger">*</span>
                                        应用名
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="app" name="app" placeholder="请输入链接应用名">
                                        <span class="help-block">请填写链接应用名</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="controller">
                                        <span class="text-danger">*</span>
                                        控制器
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="controller" name="controller" placeholder="请输入链接控制器">
                                        <span class="help-block">请填写链接控制器</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="action">
                                        <span class="text-danger">*</span>
                                        方法名
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="action" name="action" placeholder="请输入链接方法">
                                        <span class="help-block">请填写链接方法</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="action">
                                        <span class="text-danger">*</span>
                                        参数
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="action" name="action" placeholder="请输入链接参数">
                                        <span class="help-block">请填写链接参数</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="sort">
                                        <span class="text-danger">*</span>
                                        排序
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" style="width: 40%;" id="sort" name="sort" placeholder="请输入排序">
                                        <span class="help-block">请填写顺序，范围1-9999</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="icon">
                                        <span class="text-danger">*</span>
                                        图标
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" style="width: 40%;" id="icon" name="icon" placeholder="请输入图标样式">
                                        <span class="help-block">请 <a class="btn-link" href=""> 选择图标 </a> 样式名称 </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="style">
                                        <span class="text-danger">*</span>
                                        按钮样式
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" style="width: 40%;" id="style" name="style" placeholder="请输入按钮样式">
                                        <span class="help-block">请填写按钮样式名称 </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="is_display">
                                        <span class="text-danger">*</span>
                                        是否展示
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="top_10 single_line">
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="is_display" value="1"> 是
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="is_display" value="0"> 否
                                            </label>
                                        </div>
                                        <span class="help-block">请选择是否展示</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="description">
                                        描述
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" rows="5" id="description" name="description" placeholder="请输入菜单描述"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right" for="tips">
                                        操作提示
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" rows="5" id="tips" name="tips" placeholder="请输入菜单操作提示"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">保存</button>
                                        <a href="{:url('index',($param ?? []))}" class="btn btn-light">取消返回</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__PLUGIN__/validation/jquery.validate.min.js"></script>
    <script src="__PLUGIN__/validation/jquery.validate-init.js"></script>
</block>