<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - 账号登录</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
    <link rel="stylesheet" href="__PLUGIN__/fontawesome/releases/v5.10.1/css/all.css">
    <link href="__CSS__/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
</head>

<body class="h-100">
    <!--******************* Preloader start ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--******************* Preloader end ********************-->
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5 text-center">
                                <h4>Rosella</h4>
                                <form class="mt-5 mb-5 login-input js_form" action="{:url('do_login')}" method="post">
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="账号">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="密码">
                                    </div>
                                    <div class="form-group js_verify_group">
                                        <div class="col-sm-6 f_left">
                                            <input class="form-control js_verify_input" type="text" name="verify_code" autocomplete="off" placeholder="验证码">
                                        </div>
                                        <div class="col-sm-6 f_right">
                                            <img class="js_verify_img" src="{:url('captcha')}" data-change_url="{:url('change_captcha')}" />
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="btn login-form__btn submit w-100 js_submit margin_top_20">登录</span>
                                    <span class="help-block top_10 js_tips"></span>
                                </form>
                                <p class="mt-5 login-form__footer">还没有账号? 现在就 <a href="{:url('register')}" class="text-primary">注册</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************  Scripts ***********************************-->
    <script src="__PLUGIN__/common/common.min.js"></script>
    <script src="__JS__/custom.min.js"></script>
    <script src="__JS__/settings.js"></script>
    <script src="__JS__/gleek.js"></script>
    <script src="__JS__/styleSwitcher.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
</body>

</html>